.cards-list {
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: auto;
    width: 650px;
    height: 450px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    background-color: black;
}


.card2 {
    margin: auto;
    width: 400px;
    height: 100px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    background-color: #03fcb6;
}

.card .card_image {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}


.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.card2:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}


.center{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.char{
    font-size: 40px;
    height: 40px;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
.mylink{
    position: absolute;
    z-index: 150;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: .6rem;
}

.mylink a{
    font-family: Calibri;
    color: #fff;
    border-bottom: 1px solid #fff;
    opacity: .5;
    transition: opacity .3s;
    text-decoration: none
}
.mylink a:hover{
    opacity: 1
}
header {
    position: relative;
    background-color: #000b76;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}



header .container {
    position: relative;
    z-index: 2;
}


body {

}


h1 h2 h3 h4 h5{
   color: #0048ff;
}
.glitch {
    font-size: 2.125em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    letter-spacing: 5px;
}
.glitch:before, .glitch:after {
    display: block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
}
.glitch:after {
    color: #06BEE1;
    z-index: -2;
}

.glitch:hover:before {
    -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
}
.glitch:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
}

@media only screen and (max-width: 400px) {
    .glitch {
        font-size: 3em;
    }
}
@-webkit-keyframes glitch {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
    40% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    60% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }
    80% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes glitch {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
    40% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    60% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }
    80% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #03256C 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
html,
body {

    background-attachment: fixed;
    background-size: cover;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: white;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
    height: 100%;
    font-weight: 800;
}

body{
   
    font-family: Arial;
}

svg {
    display: block;
    font: 4em '';
    width: 300px;
    height: 80px;
    
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: white;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: white;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: white;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: white;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: white;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}
.dot {
    height: 200px;
    width: 200px;
    background-color:midnightblue;
    border-radius: 50%;
    display:inline-block;
    margin-top: 50px;
  }
  .floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
.btn-default {
    
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    line-height: 24px;
    border: 2px solid #5000ca;
    border-radius: 40px;
    background: #5000ca;
    transition: all 0.3s ease 0s;
  }
  #element::-webkit-scrollbar {
    display: none;
}